.sign-logo {
  display: inline-block;
  --h-height: 3rem;
  height: var(--h-height);
  width: var(--h-height);
  margin: 1.5rem;
  position: fixed;
  left: 0;
}

@media screen and (max-width: 50rem) {
  .sign-logo {
    width: 3rem;
    height: 3rem;
    margin: 5%;
    position: absolute;
  }
}

@media screen and (max-width: 60rem) {
  .sign-logo {
    position: absolute;
  }
}
