:root {
  --bg-c: #ffffff;
  --c: #3e3e3e;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--c);
  background-color: var(--bg-c);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//主题切换
.dark {
  &:root {
    --c: #ffffff;
    --bg-c: rgb(5, 5, 5);
    transition: background-color 0.5s;

    p {
      color: rgba($color: #ffffff, $alpha: 0.7);
    }

    ::selection {
      background: #333131;
    }
  }
}

.light {
  &:root {
    --c: #3e3e3e;
    --bg-c: #ffffff;
    transition: background-color 0.5s;

    p {
      color: rgba($color: #3e3e3e, $alpha: 0.7);
    }
  }
}

body {
  margin: 0;
}
//选中的颜色aaa
::selection {
  background: #eaeaea;
}

//子元素居中
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//内容居中
.content-center {
  margin: auto;
  width: 50%;
}

//遮罩居中
.img-center {
  --icon: url('');
  mask: var(--icon) no-repeat;
  mask-size: 100%;
  color: inherit;
  background-color: currentColor;
  display: inline-block;
  vertical-align: text-bottom;
  width: auto;
  height: auto;
}

//hover变深样式
.dark-hover {
  opacity: 0.5;
  transition: opacity 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

//下划线hover变深样式
.dash-hover {
  border-bottom: 2px solid;
  transition: border-bottom-color 0.3s;
  border-bottom-color: rgba(125, 125, 125, 0.3);

  &:hover {
    border-bottom-color: rgba(125, 125, 125, 1);
  }
}

a {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}